.router-anim-enter-active {
  animation: coming .1s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going .1;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}